.box{
    padding: 10px;
    margin: 10px;
    border: 2px solid #ff0909;
}
#content .box{
   background-color: #dbcdcd;
}
#content .box:hover{
    background-color: #dbd4d4;
    color: #fff;
}
/* psuedo element selector */
p::first-line{
    font-weight: bold;
}
li:nth-child(odd)
{
    color:blue;
}
#content .special
{
    background-color: orange;
}
